# Paste in token, and remove .template from the file name to make it a .env file.
# Do not commit the .env file or the token to git!
SQUIZZY_WRITE_TOKEN=sknGrTgiUDbaLVqJnuCHOAOURyDn0IrNYQaimfIdRqOmSvxdrCZp5KhwaWOX1xNTLnzgA0U8SWVMe8Rq4CRROUvqjL17W0PiHWdQQBB60R13RcGJ1M8yo5cKsNhWNFcrdhJIb35YSr4XYaaVX3nCZb51NJgrKfNcnYwutZqYD6xOgmjX2Xcz
